@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles/globals.css */
@import '@fontsource/press-start-2p'; /* Import the font */
@import '@fontsource/cute-font';





.scrollbar {
  margin-right: 10px;
}

#style-1::-webkit-scrollbar-track {
  border-radius: 120px;
  background-color: #040923;
  width: 100px;
}

#style-1::-webkit-scrollbar {
  width: 8px;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: #6074c6;
  clip-path: polygon(2 2, 2 2);
}



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* normal purple and blue color */
.container::before,
.container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  clip-path: polygon(
    11px 0px,
    11px 2.2px,
    8.8px 2.2px,
    8.8px 4.4px,
    6.6px 4.4px,
    6.6px 6.6px,
    4.4px 6.6px,
    4.4px 8.8px,
    2.2px 8.8px,
    2.2px 11px,
    0px 11px,
    0px calc(100% - 11px),
    2.2px calc(100% - 11px),
    2.2px calc(100% - 8.8px),
    4.4px calc(100% - 8.8px),
    4.4px calc(100% - 6.6px),
    6.6px calc(100% - 6.6px),
    6.6px calc(100% - 4.4px),
    8.8px calc(100% - 4.4px),
    8.8px calc(100% - 2.2px),
    11px calc(100% - 2.2px),
    11px 100%,
    calc(100% - 11px) 100%,
    calc(100% - 11px) calc(100% - 2.2px),
    calc(100% - 8.8px) calc(100% - 2.2px),
    calc(100% - 8.8px) calc(100% - 4.4px),
    calc(100% - 6.6px) calc(100% - 4.4px),
    calc(100% - 6.6px) calc(100% - 6.6px),
    calc(100% - 4.4px) calc(100% - 6.6px),
    calc(100% - 4.4px) calc(100% - 8.8px),
    calc(100% - 2.2px) calc(100% - 8.8px),
    calc(100% - 2.2px) calc(100% - 11px),
    100% calc(100% - 11px),
    100% 11px,
    calc(100% - 2.2px) 11px,
    calc(100% - 2.2px) 8.8px,
    calc(100% - 4.4px) 8.8px,
    calc(100% - 4.4px) 6.6px,
    calc(100% - 6.6px) 6.6px,
    calc(100% - 6.6px) 4.4px,
    calc(100% - 8.8px) 4.4px,
    calc(100% - 8.8px) 2.2px,
    calc(100% - 11px) 2.2px,
    calc(100% - 11px) 0px
  );
}

.container::before {
  background-color: #6074c6;
  z-index: -2;
}

.container::after {
  background-color: #040923;
  inset: 1px;
  z-index: -1;
}





/* normal hotpink and lightpink color */
.container-red::before,
.container-red::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  clip-path: polygon(
    11px 0px,
    11px 2.2px,
    8.8px 2.2px,
    8.8px 4.4px,
    6.6px 4.4px,
    6.6px 6.6px,
    4.4px 6.6px,
    4.4px 8.8px,
    2.2px 8.8px,
    2.2px 11px,
    0px 11px,
    0px calc(100% - 11px),
    2.2px calc(100% - 11px),
    2.2px calc(100% - 8.8px),
    4.4px calc(100% - 8.8px),
    4.4px calc(100% - 6.6px),
    6.6px calc(100% - 6.6px),
    6.6px calc(100% - 4.4px),
    8.8px calc(100% - 4.4px),
    8.8px calc(100% - 2.2px),
    11px calc(100% - 2.2px),
    11px 100%,
    calc(100% - 11px) 100%,
    calc(100% - 11px) calc(100% - 2.2px),
    calc(100% - 8.8px) calc(100% - 2.2px),
    calc(100% - 8.8px) calc(100% - 4.4px),
    calc(100% - 6.6px) calc(100% - 4.4px),
    calc(100% - 6.6px) calc(100% - 6.6px),
    calc(100% - 4.4px) calc(100% - 6.6px),
    calc(100% - 4.4px) calc(100% - 8.8px),
    calc(100% - 2.2px) calc(100% - 8.8px),
    calc(100% - 2.2px) calc(100% - 11px),
    100% calc(100% - 11px),
    100% 11px,
    calc(100% - 2.2px) 11px,
    calc(100% - 2.2px) 8.8px,
    calc(100% - 4.4px) 8.8px,
    calc(100% - 4.4px) 6.6px,
    calc(100% - 6.6px) 6.6px,
    calc(100% - 6.6px) 4.4px,
    calc(100% - 8.8px) 4.4px,
    calc(100% - 8.8px) 2.2px,
    calc(100% - 11px) 2.2px,
    calc(100% - 11px) 0px
  );
}

.container-red::before {
  background-color: #F6013F;
  z-index: -2;
}

.container-red::after {
  background-color: #040923;
  inset: 1px;
  z-index: -1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
